<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
</head>
<body>
    <h1>Reptiles</h1>
    <ul>
        <% animals.forEach(animal => { %>
            <li>
                <a href="/reptiles/<%= animal.id %>">
                    <img src="<%= animal.image %>" alt="<%= animal.name %>" width="100">
                    <h2><%= animal.name %></h2>
                    <p><%= animal.shortDescription %></p>
                </a>
            </li>
        <% }); %>
    </ul>
</body>
</html>
